<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Own Location</title>
</head>
<body>
    <h1>Data </h1>
    <p>This information {{ is_cached|yesno:"was,wasn't" }} cached.</p>
    <iframe src="https://www.google.com/maps/embed/v1/view?center={{ latitude }},{{ longitude }}&zoom=8&key={{ api_key }}" 
            frameborder="0"
            width="600"
            height="450"
            style="border:0"
            allowfullscreen>
    </iframe>
</body>
</html>